hellomule/target/META-INF/mule-src/hellomule/src/main/mule/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="71a097db-c369-4f32-849b-3da9b8af43ad" >
		<http:listener-connection protocol="HTTPS" host="0.0.0.0" port="8082" >
			<tls:context >
				<tls:key-store path="keystore.jks" alias="mule" keyPassword="12720817" password="12720817" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<flow name="hellomuleFlow" doc:id="413ebc15-88a1-4c0b-8488-e18c0183232b" >
		<http:listener doc:name="Listener" doc:id="dec64c6f-161a-4caf-b7a5-1fdbec38c954" config-ref="HTTP_Listener_config1" path="/hellomule"/>
		<set-payload value="Hello Mule" doc:name="Set Payload" doc:id="027ec8a2-afe3-40a3-86cf-7cc75fe78884" />
		<logger level="INFO" doc:name="Logger" doc:id="b02bcfef-454b-4e30-8b82-8faccf3c179d" message='#[output application/java&#10;---&#10;"Username: " ++ Mule::p("secure::example.username")&#10;++ " - " ++&#10;"Password: " ++ Mule::p("secure::example.password")]'/>
	</flow>
</mule>
